.vscode/
init.spec
TelegramBOt.code-workspace
__pycache__/botFunctions.cpython-38.pyc
__pycache__/init.cpython-38.pyc
__pycache__/player.cpython-38.pyc
build/init/Analysis-00.toc
build/init/base_library.zip
build/init/COLLECT-00.toc
build/init/EXE-00.toc
build/init/init.exe.manifest
build/init/PKG-00.pkg
build/init/PKG-00.toc
build/init/PYZ-00.pyz
build/init/PYZ-00.toc
build/init/Tree-00.toc
build/init/Tree-01.toc
build/init/warn-init.txt
build/init/xref-init.html
dist/init/_asyncio.pyd
dist/init/_bz2.pyd
dist/init/_cffi_backend.cp38-win32.pyd
dist/init/_ctypes.pyd
dist/init/_decimal.pyd
TelegramBot/pyvenv.cfg
TelegramBot/Scripts/activate
TelegramBot/Scripts/activate.bat
TelegramBot/Scripts/Activate.ps1
TelegramBot/Scripts/deactivate.bat
TelegramBot/Scripts/futurize-script.py
TelegramBot/Scripts/pasteurize-script.py
